Package: hrbridge
Version: @VERSION@
Architecture: @ARCH@
Maintainer: astronaut808
Section: net
Priority: optional
Depends: hrneo
License: MIT
Description: Unified HTTP control API for HydraRoute Neo.
